@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.think-oz-text {
  color: #FFFFFF; /* Change text color to white */
  font-size: 28px; /* Increase the font size */
  font-family: 'Nunito', sans-serif;
  margin-top: 10px;
}
